# Docker build context exclusions
.containers/
**/.containers/
Core_PetBoarding_Backend/.containers/
.git/
.gitignore
README.md
Dockerfile
.dockerignore
node_modules/
npm-debug.log
ng_PetBoarding_app/
**/bin/
**/obj/
**/.vs/
**/*.user
**/*.suo
**/*.tmp