<mat-card class="basket-item">
  <div class="item-content">
    <div class="item-info" (click)="onPrestationClick()">
      <h4 class="item-title">{{ item().serviceName }}</h4>
      <div class="item-price">
        {{ item().reservationPrice | currency: 'EUR' : 'symbol' : '1.2-2' }}
      </div>
    </div>

    <div class="item-actions">
      <div class="added-date">
        <mat-icon>schedule</mat-icon>
        <span>Ajouté le {{ formatDate(item().addedAt) }}</span>
      </div>

      <button mat-icon-button color="warn" (click)="onRemove()" class="remove-btn">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
